In [39]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [40]:
dataset=pd.read_csv("C:\\Users\\nisha\\OneDrive\\Documents\\Decision.csv")
dataset.head()

  price maintenance  capacity airbag profitable
0   low         low         2     no        yes
1   low         med         4    yes         no
2   low         low         4     no        yes
3   low        high         4     no         no
4   med         med         4     no         no

In [41]:
clmns=[]
for i in dataset:
    clmns.append(i)
feature=clmns[:-1]
print(clmns)
print(feature)

['price', 'maintenance', 'capacity', 'airbag', 'profitable']
['price', 'maintenance', 'capacity', 'airbag']

In [42]:
o_dataset=OrdinalEncoder().fit_transform(dataset[clmns])
o_table=pd.DataFrame(o_dataset)
o_table.columns=clmns
o_table

    price  maintenance  capacity  airbag  profitable
0     1.0          1.0       0.0     0.0         1.0
1     1.0          2.0       1.0     1.0         0.0
2     1.0          1.0       1.0     0.0         1.0
3     1.0          0.0       1.0     0.0         0.0
4     2.0          2.0       1.0     0.0         0.0
5     2.0          2.0       1.0     1.0         1.0
6     2.0          0.0       0.0     1.0         0.0
7     2.0          0.0       2.0     0.0         1.0
8     0.0          2.0       1.0     1.0         1.0
9     0.0          0.0       0.0     1.0         0.0
10    0.0          0.0       2.0     1.0         1.0

In [43]:
a=[]
for i in clmns:
    temp=[]
    for j in dataset[i].unique():
        temp.append(j)
    temp.sort()
    a.append(temp)
print(a)

[['high', 'low', 'med'], ['high', 'low', 'med'], [2, 4, 5], ['no', 'yes'], ['no', 'yes']]

In [44]:
X_train,X_test,y_train,y_test=train_test_split(o_table[feature],o_table["profitable"],test_size=0.2,random_state=142)
X_train

    price  maintenance  capacity  airbag
3     1.0          0.0       1.0     0.0
4     2.0          2.0       1.0     0.0
2     1.0          1.0       1.0     0.0
9     0.0          0.0       0.0     1.0
1     1.0          2.0       1.0     1.0
0     1.0          1.0       0.0     0.0
10    0.0          0.0       2.0     1.0
5     2.0          2.0       1.0     1.0

In [45]:
tree=DecisionTreeClassifier()

In [46]:
tree.fit(X_train,y_train)

DecisionTreeClassifier()

In [47]:
pred=tree.predict(X_test)

In [48]:
accuracy=accuracy_score(y_test,pred)
accuracy

0.6666666666666666

In [49]:
result=tree.predict([[1,0,0,1]])
a[4][int(result[0])]

'no'